

* { 
box-sizing: border-box; }
/*@media (min-width:768px) and (max-width: 991px) {
	
}*/
/*@media (max-width: 767px) {
	
}*/

body{
	font-family: Arial, Helvetica, sans-serif;
	
}

h1 { 
	text-align:center;
}

div {
	position: relative;
	height: 215px;
	width: 400px;
	background-color:grey;
	border:2px solid black;

}	

p{
	border:2px solid black;
	text-align:center;
	width:120px;
	margin:0;
	margin-bottom:10px;
	font-size:18px;

}
 #box1 { 
 		background-color: pink;
 		 }

 #box2 { 
 		background-color: red;
 		 }

 #container1 { 
 		margin-bottom: 20px;
		padding-left: 10px;
 	 }
 #container2 { 
 		margin-bottom: 20px;
		padding-left: 10px;
		
 	 }
